h1 {
    text-align:center;
    font-weight:900;
    font-family:Arial;
    font-size:72px;
    text-shadow: 1px 1px 2px greenyellow;
}

h2 {
    text-align: center;
    font-style:italic;
    font-family:Arial;
    text-shadow: 1px 1px 2px greenyellow;
}

pre#personal {
    text-align:center;
    font-weight:900;
    font-family:Arial;
}

h3#prof{
    font-size:26px;
    font-style:italic;
    font-family:Arial; 
    text-shadow: 1px 1px 2px greenyellow;  
    margin-top: 100px;
    margin-left:840px;
}

h3#current {
    font-style:italic;
    font-family:Arial; 
    text-shadow: 1px 1px 2px greenyellow;
    margin-top: -1115px;
    margin-left:100px;
    font-size:26px;
}

h3#skills {
    font-style:italic;
    font-family:Arial; 
    text-shadow: 1px 1px 2px greenyellow;
    margin-top: 100px;
    margin-left:100px;
    font-size:26px;
}

table {
    margin-top: 10px;
    margin-left:100px;
    font-size:20px;
    font-family:Arial; 
}

body {
    background-color:rgb(227, 220, 210);
}

pre#profile {
    margin-top: -35px;
    margin-left:800px;
    font-size:20px;
    font-family:Arial; 
}

h3#rel{
    font-size:26px;
    font-style:italic;
    font-family:Arial; 
    text-shadow: 1px 1px 2px greenyellow;  
    margin-top: -20px;
    margin-left:830px;
}

h3#compute{
    font-style:italic;
    font-family:Arial; 
    margin-top:50px;   
    text-shadow: 1px 1px 2px greenyellow;
    margin-left:100px;
    font-size:26px;
}

ul#env{
    margin-top: 25px;
    margin-left:100px;
    font-size:20px;
    font-family:Arial; 
}

div.vl {
  border-left: 6px solid rgb(131, 149, 104);
  height: 1500px;
  position: absolute;
  left: 850px;
  margin-left: -3rem;
  top: 400px;
}

pre#heading1{
    margin-top: -10px;
    margin-left:770px;
    font-size:22px;
    font-family:Arial; 
    font-style:italic;
 }  

 pre#heading2{
    margin-top: 10px;
    margin-left:770px;
    font-size:22px;
    font-family:Arial; 
    font-style:italic;
 }  

 pre#heading3{
    margin-top: 10px;
    margin-left:770px;
    font-size:22px;
    font-family:Arial; 
    font-style:italic;
 }  

 pre#heading4{
    margin-top: 15px;
    margin-left:50px;
    font-size:22px;
    font-family:Arial; 
    font-style:italic;
 } 


 ul#list1{
    margin-top:-34px;
    margin-left:820px;
    font-size:20px;
    font-family:Arial; 
   ;
 }
ul#list2{
    margin-top:-30px;
    margin-left:820px;
    font-size:20px;
    font-family:Arial; 
   ;
 }
 ul#list3{
    margin-top:-35px;
    margin-left:820px;
    font-size:20px;
    font-family:Arial; 
   ;
 }
  ul#list4{
    margin-top:-38px;
    margin-left:95px;
    font-size:20px;
    font-family:Arial; 
    display:flex;
    flex-wrap:wrap;
    flex-direction:column;
    width:600px;
 }