h1 {
    text-align:center;
    font-weight:900;
    font-family:Arial;
    font-size:72px;
    text-shadow: 1px 1px 2px greenyellow;
}

h2 {
    text-align: center;
    font-style:italic;
    font-family:Arial;
    text-shadow: 1px 1px 2px greenyellow;
}

pre#personal {
    text-align:center;
    font-weight:900;
    font-family:Arial;
}

h3#prof{
    font-size:26px;
    font-style:italic;
    font-family:Arial; 
    text-shadow: 1px 1px 2px greenyellow;  
    margin-top: -56px;
    margin-left:940px;
}

h3#skills {
    font-style:italic;
    font-family:Arial; 
    text-shadow: 1px 1px 2px greenyellow;
    margin-top: 100px;
    margin-left:500px;
    font-size:26px;
}

table {
    margin-top: 10px;
    margin-left:500px;
    font-size:20px;
    font-family:Arial; 
}

body {
    background-color:antiquewhite;
}

pre#profile {
    margin-top: -210px;
    margin-left:900px;
    font-size:20px;
    font-family:Arial; 
}

h3#rel{
    font-size:26px;
    font-style:italic;
    font-family:Arial; 
    text-shadow: 1px 1px 2px greenyellow;  
    margin-top: 15px;
    margin-left:930px;
}

h3#compute{
    font-style:italic;
    font-family:Arial; 
    text-shadow: 1px 1px 2px greenyellow;
    margin-top: 35px;
    margin-left:500px;
    font-size:26px;
}

ul#env{
    margin-top: 10px;
    margin-left:500px;
    font-size:20px;
    font-family:Arial; 
}

div.vl {
  border-left: 6px solid rgb(131, 149, 104);
  height: 700px;
  position: absolute;
  left: 950px;
  margin-left: -3rem;
  top: 400px;
}
